<!-- <ng-container *ngIf="allTables.length > 1; else elseTemplate"> -->
    <!-- <p *ngFor="let table of allTables">{{ table.name }}</p> -->
    
<form [formGroup]="form" (ngSubmit)="submit()">
        <div formArrayName="items"
          *ngFor="let item of form.controls['items'].controls; let i = index">
          <div [formGroupName]="i">
            <input formControlName='name'>
            <input formControlName='surname'>
            <select formControlName='entityOne' >
                <option  *ngFor="let table of allTables" [value]="table.name">{{ table.name }}</option>
            </select>
            <select formControlName='entityTwo'>
                <option  *ngFor="let table of allTables" [value]="table.name">{{ table.name }}</option>
            </select>
          </div>
        </div>
      
        <button type="button" (click)="addNext()">Add Next</button>
        <button type="submit">Submit (look at console)</button>
      </form>
<!-- </ng-container>
<ng-template #elseTemplate>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip color="warn" selected>To create relationship you have to create at least 2 tables.</mat-chip>
    </mat-chip-list> 
</ng-template> -->

