<button (click)="getColumnTypes()">Click me</button>
<div class="table">
    <h2>Table</h2>
    <mat-form-field>
        <input matInput placeholder="Number Of Rows">
    </mat-form-field>
    <div class="column">
        <mat-form-field>
            <input matInput placeholder="Table Name">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Type"></mat-select>
        </mat-form-field>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Options
            </mat-expansion-panel-header>
            content
        </mat-expansion-panel>
    </div>

</div>