<div class="table" [formGroup]="tableGroup">
    <h2>Table</h2>
    <mat-form-field>
        <input matInput  placeholder="Table name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Number of rows" formControlName="rowCount">
    </mat-form-field>
    <div #columns>
    </div>
    <button mat-raised-button color="primary" (click)="addColumn()">Add column</button>
    <!-- <app-column [columnTypes]="columnTypes"></app-column> -->
    <button mat-raised-button color="warn" (click)="removeObject()">Remove table</button>
</div>