<div class="column" [formGroup]="columnGroup">
    <mat-form-field>
        <input matInput placeholder="Column Name" formControlName="name">
        <mat-error *ngIf="columnGroup.controls['name']">
            {{emp.getMessageForRandomError(columnGroup.controls["name"].errors)}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Type" formControlName="type" (selectionChange)="onSelectedTypeChange()">
            <div *ngIf="columnTypes">
                <mat-option *ngFor="let columnType of columnTypes" [value]="columnType">
                    {{ columnType.type.name }}
                </mat-option>
            </div>
        </mat-select>
        <mat-error *ngIf="columnGroup.controls['type']">
            {{emp.getMessageForRandomError(columnGroup.controls["type"].errors)}}
        </mat-error>
    </mat-form-field>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Options
        </mat-expansion-panel-header>
        <div formGroupName="options" *ngIf="selectedType">
            <div *ngFor="let option of selectedType.options">
                <div *ngIf="getType(option.name) == 'input'; then input"></div>
                <div *ngIf="getType(option.name) == 'checkbox'; then checkbox"></div>
                <div *ngIf="getType(option.name) == 'date'; then date"></div>

                <ng-template #input>
                    <mat-form-field>
                        <input matInput placeholder={{option.name}} formControlName={{option.name}}>
                    </mat-form-field>
                </ng-template>
                <ng-template #checkbox>
                    <mat-checkbox formControlName={{option.name}}>{{ option.name }}</mat-checkbox>
                </ng-template>
                <ng-template #date>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder={{option.name}}
                            formControlName={{option.name}}>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year"></mat-datepicker>
                    </mat-form-field>
                </ng-template>
            </div>
        </div>
        <mat-error *ngIf="columnGroup.controls['options']">
            {{emp.getMessageForRandomError(columnGroup.controls["options"].errors)}}
        </mat-error>
    </mat-expansion-panel>
    <button mat-raised-button color="warn" (click)="removeObject()">Remove</button>
    <button mat-raised-button color="warn" (click)="showGroup()">
        <!--to delete--> Show group(debug)</button>

</div>